/* Move down content because we have a fixed navbar that is 50px tall */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  font-family: "Lobster", cursive;
  color: #444;
  letter-spacing: 1px;
}
h1,
h2,
p {
  font-weight: normal;
  text-align: center;
}

.hidden {
  display: none;
}

#movie-list {
  position: relative;
}

.showAll {
  padding: 8px;
  position: absolute;
  right: 110px;
  top: 0px;
}

span,
label {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

ul {
  list-style: none;
}

#movies-group {
  border: 1px solid rgb(44, 42, 42);
  max-width: 90%;
  margin: 40px auto;
  border-radius: 6px;
  box-shadow: -20px 50px 200px aqua;
  padding-bottom: 20px;
  overflow: hidden;
}

#header {
  background: #d3d3d3;
  padding: 10px 0;
  text-align: center;
}

#header input[type="text"] {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 16px;
}
#header input[type="submit"] {
  padding: 9px;
  border: 1px solid #444;
  border-radius: 4px;
}

li {
  padding: 20px;
  border-left: 5px solid rgb(212, 210, 210);
  margin: 20px 100px;
}

li:hover {
  border-color: rgb(160, 72, 160);
}

.delete {
  float: right;
  background: rgb(160, 72, 160);
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.delete:hover {
  background: rgb(66, 65, 65);
}

#add-movie {
  width: 400px;
  margin: 0 auto;
}

#add-movie input[type="text"] {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  width: 300px;
  float: left;
}

#hide {
  margin-left: 70px;
}

.add {
  border: 1px solid rgb(160, 72, 160);
  background: rgb(167, 64, 167);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: 2px 100px;
  color: white;
}
